input:disabled {
    background-color: (255, 255, 255, 0.7);
}
*{
    box-sizing:border-box;
}
 section{
	display:flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    width:90%;
} 
.form-control,.form-control-invalid,
.form-control-valid,.select{
    width: 100%;
    height: 30px;
    margin: 5px 0 10px;
    border: 1px solid #4cb1ca;
    border-radius: 7px;
    outline:none;
    padding: 5px 10px;
    color: black;
}
.form-control-invalid{
    background: #fff;
}
.form-control-valid{
    background: #79f487;
}
.control-label,.control-label-2{
	color: whitesmoke ; 
    margin-left: 5%;
}
.control-label::before{
    content: "*";
    color: red;
    margin-right: 10px;
}
.control-label-2::before{
    content: " ";
    margin-right: 18px;
}