@import "test.scss";

body {
	margin: 0;
	padding: 0;
}
// sdfdaf
.color {
	color: orangered;
}

.generator-box {
	width: 100%;
	height: 4rem;
	border: 1px solid #eee;
	border-radius: 3px;

	display: flex;
	flex-direction: column;
}
